<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Sitting order v2</title>
        <style type="text/css">
            .smallmap {
                width: 1024px;
                height: 512px;
                border: 1px solid #00F;
            }
        </style>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/ol_style.css" type="text/css">
        <script type="text/javascript" src="{{ STATIC_URL }}js/OpenLayers.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript">
        $.ajaxSetup({ 
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             } 
        });
        
        var map;

        // create new sitting
        function create_place(vectorLayer, lonlat) {
            var point = new OpenLayers.Geometry.Point(lonlat.lon, lonlat.lat);
            var pointFeature = new OpenLayers.Feature.Vector(point);
            pointFeature.attributes = {
                name: "John Foo",
                team: "Finance",
                color: 'red',
            };

            popup = new OpenLayers.Popup("asd",
                               new OpenLayers.LonLat(lonlat.lon, lonlat.lat),
                               new OpenLayers.Size(350,150),
                               "<input type=\"text\" name=\"place_id\" value=\"Enter place id\" class=\"new_place\"/ >",
                               true);

            map.addPopup(popup);

            $(".new_place").click(function(){
                $(this).val("");
            });
            $(".new_place").keyup(function(event){
                if (event.which == 13) {
                    $.post(
                        "/ajax/",
                        { "lon": lonlat.lon, "lat": lonlat.lat, "id": $(this).val() },
                        function(data) {
                            if (data["status"] == "ok") {
                                alert("OK");
                            }
                        }
                    );
                    popup.destroy();
                }
            });

            vectorLayer.addFeatures([pointFeature]);
        }

        function init(){


            // http://docs.openlayers.org/library/deploying.html
            OpenLayers.ImgPath = "{{ STATIC_URL }}images/ol/"
            map = new OpenLayers.Map('map', { theme: null });

            var graphic = new OpenLayers.Layer.Image(
                'Sunset',
                '{{ STATIC_URL }}images/floor_plan.gif',
                new OpenLayers.Bounds(-500/2, -700/2, 500/2, 700/2),
                new OpenLayers.Size(500, 700),
                {numZoomLevels: 2}
            );

            var vectorLayer = new OpenLayers.Layer.Vector("vector", {
                styleMap: new OpenLayers.StyleMap({'default': {
                    strokeColor: "#000000",
                    strokeOpacity: 1,
                    strokeWidth: 3,
                    fillColor: "#DDD",
                    fillOpacity: 1,
                    pointRadius: 8,
                    pointerEvents: "visiblePainted",
                    label : "${name}\n\n${team}",

                    fontColor: "${color}",
                    fontSize: "14px",
                    fontFamily: "Courier New, monospace",
                    fontWeight: "bold",
                    labelYOffset: "30",
                    labelOutlineColor: "white",
                    labelOutlineWidth: 3
                }}),
                eventListeners: {
                    'featureselected':function(evt){
                        var feature = evt.feature;
                        var popup = new OpenLayers.Popup.FramedCloud("popup",
                            OpenLayers.LonLat.fromString(feature.geometry.toShortString()),
                            null,
                            "<div style='font-size:1.2em; background-color: white;'>Feature: " + feature.id +"<br>Foo: " + feature.attributes.foo+"</div>",
                            null,
                            true
                        );
                        feature.popup = popup;
                        map.addPopup(popup);
                    },
                    'featureunselected':function(evt){
                        var feature = evt.feature;
                        map.removePopup(feature.popup);
                        feature.popup.destroy();
                        feature.popup = null;
                    }
                }
            });
            var selector = new OpenLayers.Control.SelectFeature(vectorLayer, {
                //hover:true,
                autoActivate:true,
                clickout:true
            });

            map.addLayers([graphic, vectorLayer]);
            map.addControl(selector);
            //map.addControl(new OpenLayers.Control.MousePosition());
            map.zoomToMaxExtent();


            map.events.register("click", map, function(e) {
                // what control is selected? "create" or "select"
                if ($("#controlsForm input[type='radio']:checked").val() == "select") {
                    return;
                }
                var position = this.events.getMousePosition(e);
                var lonlat = map.getLonLatFromPixel(position);
                create_place(vectorLayer, lonlat)
            });

            //create_place(vectorLayer, new OpenLayers.LonLat(0.0, 0.0))

            /*
             * Controls
             *
             */
/*
            selectControl = new OpenLayers.Control.SelectFeature(
                vectorLayer,
                {onSelect: onFeatureSelect, onUnselect: onFeatureUnselect});
            drawControls = {
                polygon: new OpenLayers.Control.DrawFeature(vectorLayer,
                            OpenLayers.Handler.Polygon),
                select: selectControl
            };

            for(var key in drawControls) {
                map.addControl(drawControls[key]);
            }

            /* MARKERS
            var markerslayer = new OpenLayers.Layer.Markers("Markers");
            map.addLayer(markerslayer);

            map.events.register("click", map, function(e) {
                var position = this.events.getMousePosition(e);
                var icon = new OpenLayers.Icon('http://maps.google.com/mapfiles/ms/icons/red-pushpin.png');
                var lonlat = map.getLonLatFromPixel(position);
                alert(lonlat);
                markerslayer.addMarker(new OpenLayers.Marker(lonlat, icon));
            });
            */
        }
        </script>
    </head>
    <body onload="init()">
        <h1 id="title">Sitting order v2</h1>

        <div id="map" class="smallmap"></div>

        <form id="controlsForm">
            <ul id="controlToggle">
                <li>
                    <input type="radio" name="controls" value="create" id="createToggle"
                           checked="checked" />
                    <label for="createToggle">Create</label>
                </li>
                <li>
                    <input type="radio" name="controls" value="select" id="selectToggle" />
                    <label for="selectToggle">Select</label>
                </li>
            </ul>
        </form>
    </body>
</html>