<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Sitting order v2</title>
        <style type="text/css">
            .smallmap {
                width: 1024px;
                height: 512px;
                border: 1px solid #00F;
            }
        </style>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/ol_style.css" type="text/css">
        <script type="text/javascript" src="{{ STATIC_URL }}js/OpenLayers.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    </head>
    <body>
        <h1 id="title">Sitting order v2</h1>

        <div id="map" class="smallmap"></div>

        <form id="controlsForm">
            <ul id="controlToggle">
                <li>
                    <input type="radio" name="controls" value="create" id="createToggle"
                           checked="checked" />
                    <label for="createToggle">Create</label>
                </li>
                <li>
                    <input type="radio" name="controls" value="select" id="selectToggle" />
                    <label for="selectToggle">Select</label>
                </li>
            </ul>
        </form>
    </body>
</html>